.flashcards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px; 
  }

  h1{
    text-align: center;
  }
  
  .flashcard-item {
    background: white; 
    border: 1px solid #ddd;
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    text-align: center; 
  }
  

  @media (max-width: 1200px) {
    .flashcards-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 900px) {
    .flashcards-container {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media (max-width: 600px) {
    .flashcards-container {
      grid-template-columns: 1fr; 
    }
  }
  
  .controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px; /* Adds space between controls */
  }
  
  .controls input, .controls select, .controls button {
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .controls button:hover {
    background-color: #f0f0f0;
  }